
*, :after, :before {
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 20px;
}

.sub-nav {
    list-style: none;
    margin: 0;
}

.sub-nav li:first-child {
    float: right;
}

.sub-nav:after {
    content: " ";
    display: table;
    clear: both;
}

.sub-nav a {
    line-height: 40px;
    color: #999;
    padding: 10px 15px;
}

.sub-nav a .name {
    font-size: 20px;
    margin-right: 10px;
}

.main-content {
    margin-top: 60px;
}

footer {
    position: absolute;
    bottom: 10px;
}

.add-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 23px;
}

.add-container>div {
    height: 56px;
    font-weight: bold;
    color: #d23f31;
}

#addBtn {
    background-color: #d23f31;
    height: 56px;
    width: 56px;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    box-sizing: content-box;
    border: none;
    border-radius: 50%;
}

#addBtn i.fa-plus {
    position: absolute;
    margin-top: 18px;
    margin-left: 22px;
    height: 24px;
    width: 24px;
    top: 0;
    left: 0;
    color: #fff;
}


.timer-grid a {
    color: #333;
    opacity: 0;
    transition: opacity .5s, cubic-bezier(0.77, 0, 0.175, 1);
    margin-left: 10px;
}

.col-1-3 {
    width: 32%;
}

.col-1-3:hover a, .col-2-3:hover a {
    opacity: .3;
}

.timer-grid .col-1-3 a:hover, .timer-grid .col-2-3 a:hover {
    opacity: 1;
    text-decoration: none;
}

.col-2-3 {
    width: 65%;
}

.column-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #555;
}

.column-header > div {
    border-bottom: solid thin black;
}

.alert-fixed {
    position: fixed;
    left: 5%;
    bottom: 5%;
    z-index: 1051;
}