@-webkit-keyframes neon-green {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00; } }

@-moz-keyframes neon-green {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00; } }

@-o-keyframes neon-green {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00; } }

@keyframes neon-green {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00; } }

@-webkit-keyframes trippy-loader {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-moz-keyframes trippy-loader {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-o-keyframes trippy-loader {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@keyframes trippy-loader {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@-moz-keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@-o-keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }

body {
  background-color: transparent !important;
  /*background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
	background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;*/
  color: #000;
  font: 14px Arial;
  margin: 0 auto;
  padding: 0;
  position: relative; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  color: #563D64; }

small {
  font-size: 10px; }

b, strong {
  font-weight: bold; }

a {
  text-decoration: none; }

a i {
  margin-right: 5px; }

a:hover {
  text-decoration: underline; }

.left {
  float: left; }

.right {
  float: right; }

.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  margin: 25px auto;
  position: relative;
  width: 900px; }

.hidden {
  display: none;
  visibility: hidden; }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1926px 695px #FFF , 1869px 581px #FFF , 94px 1701px #FFF , 1576px 404px #FFF , 260px 897px #FFF , 431px 520px #FFF , 1992px 1015px #FFF , 149px 1129px #FFF , 1284px 1289px #FFF , 1315px 1909px #FFF , 1806px 1117px #FFF , 1154px 1095px #FFF , 1374px 1429px #FFF , 42px 799px #FFF , 275px 1375px #FFF , 374px 1721px #FFF , 795px 1268px #FFF , 1930px 1224px #FFF , 402px 1001px #FFF , 85px 697px #FFF , 1041px 400px #FFF , 348px 1485px #FFF , 114px 1366px #FFF , 1559px 1366px #FFF , 344px 868px #FFF , 1105px 599px #FFF , 887px 1518px #FFF , 1408px 1328px #FFF , 1200px 1199px #FFF , 1380px 1848px #FFF , 1521px 1563px #FFF , 1895px 1504px #FFF , 79px 958px #FFF , 1873px 250px #FFF , 1264px 1950px #FFF , 975px 400px #FFF , 1692px 268px #FFF , 1873px 1110px #FFF , 514px 1459px #FFF , 1763px 529px #FFF , 1438px 365px #FFF , 1876px 31px #FFF , 198px 1687px #FFF , 1662px 1523px #FFF , 120px 1105px #FFF , 1189px 692px #FFF , 1129px 1587px #FFF , 758px 1327px #FFF , 339px 1536px #FFF , 711px 1625px #FFF , 321px 1559px #FFF , 1272px 1350px #FFF , 1674px 1661px #FFF , 733px 460px #FFF , 1801px 1542px #FFF , 731px 476px #FFF , 1959px 147px #FFF , 1565px 921px #FFF , 335px 1531px #FFF , 863px 1778px #FFF , 168px 1675px #FFF , 915px 168px #FFF , 1052px 837px #FFF , 1707px 1513px #FFF , 1643px 1691px #FFF , 155px 883px #FFF , 881px 1362px #FFF , 1862px 398px #FFF , 419px 356px #FFF , 978px 1815px #FFF , 1594px 1343px #FFF , 1104px 470px #FFF , 1610px 1781px #FFF , 107px 418px #FFF , 1870px 1043px #FFF , 1586px 1964px #FFF , 903px 1100px #FFF , 1799px 1785px #FFF , 536px 10px #FFF , 1117px 3px #FFF , 358px 1583px #FFF , 1054px 932px #FFF , 1488px 1320px #FFF , 1737px 570px #FFF , 1919px 372px #FFF , 32px 1615px #FFF , 292px 707px #FFF , 1012px 1262px #FFF , 1279px 579px #FFF , 571px 1608px #FFF , 1418px 1589px #FFF , 1508px 1300px #FFF , 245px 1064px #FFF , 690px 713px #FFF , 1722px 684px #FFF , 478px 443px #FFF , 1650px 162px #FFF , 1361px 1523px #FFF , 434px 71px #FFF , 925px 366px #FFF , 1101px 1380px #FFF , 1083px 314px #FFF , 240px 395px #FFF , 1008px 295px #FFF , 30px 1641px #FFF , 57px 997px #FFF , 233px 1207px #FFF , 1131px 571px #FFF , 705px 1508px #FFF , 1563px 1556px #FFF , 1337px 371px #FFF , 1765px 560px #FFF , 349px 29px #FFF , 1471px 1472px #FFF , 34px 318px #FFF , 152px 138px #FFF , 1753px 1965px #FFF , 500px 1px #FFF , 328px 978px #FFF , 1562px 1411px #FFF , 142px 642px #FFF , 175px 1788px #FFF , 1389px 56px #FFF , 504px 1488px #FFF , 1381px 666px #FFF , 1352px 54px #FFF , 159px 758px #FFF , 1555px 1227px #FFF , 243px 1306px #FFF , 971px 558px #FFF , 1287px 112px #FFF , 476px 1480px #FFF , 1778px 548px #FFF , 493px 728px #FFF , 1997px 1430px #FFF , 1286px 1414px #FFF , 1096px 979px #FFF , 1983px 495px #FFF , 294px 1559px #FFF , 1579px 21px #FFF , 1865px 1173px #FFF , 1806px 1570px #FFF , 1464px 1107px #FFF , 573px 1657px #FFF , 556px 711px #FFF , 805px 488px #FFF , 922px 253px #FFF , 1249px 1172px #FFF , 370px 402px #FFF , 172px 1547px #FFF , 1602px 569px #FFF , 1905px 1144px #FFF , 1253px 1058px #FFF , 1536px 719px #FFF , 1400px 552px #FFF , 1318px 47px #FFF , 155px 1656px #FFF , 1193px 50px #FFF , 50px 1425px #FFF , 1263px 1356px #FFF , 1347px 1421px #FFF , 348px 405px #FFF , 448px 657px #FFF , 289px 1250px #FFF , 1761px 471px #FFF , 887px 1787px #FFF , 287px 1066px #FFF , 684px 911px #FFF , 1826px 740px #FFF , 1691px 1750px #FFF , 200px 1023px #FFF , 528px 1205px #FFF , 774px 1242px #FFF , 1161px 687px #FFF , 1996px 280px #FFF , 1488px 407px #FFF , 618px 1997px #FFF , 1705px 1815px #FFF , 1011px 1019px #FFF , 999px 295px #FFF , 1562px 480px #FFF , 190px 1805px #FFF , 412px 1292px #FFF , 1859px 1365px #FFF , 754px 1890px #FFF , 1327px 56px #FFF , 1067px 489px #FFF , 1282px 29px #FFF , 1476px 587px #FFF , 1593px 640px #FFF , 1803px 1731px #FFF , 927px 387px #FFF , 1125px 1632px #FFF , 1686px 1082px #FFF , 1436px 1022px #FFF , 545px 1929px #FFF , 304px 422px #FFF , 1599px 781px #FFF , 491px 1858px #FFF , 426px 1354px #FFF , 157px 591px #FFF , 255px 233px #FFF , 815px 9px #FFF , 42px 673px #FFF , 429px 59px #FFF , 1211px 705px #FFF , 1181px 1926px #FFF , 252px 1492px #FFF , 1928px 1560px #FFF , 354px 152px #FFF , 223px 1062px #FFF , 1045px 1406px #FFF , 857px 638px #FFF , 994px 1290px #FFF , 981px 790px #FFF , 273px 1751px #FFF , 291px 180px #FFF , 1053px 379px #FFF , 1670px 403px #FFF , 860px 376px #FFF , 1739px 1067px #FFF , 1974px 884px #FFF , 826px 1665px #FFF , 1569px 1492px #FFF , 1584px 599px #FFF , 1398px 1094px #FFF , 1636px 1735px #FFF , 373px 1227px #FFF , 340px 1580px #FFF , 819px 496px #FFF , 895px 942px #FFF , 669px 362px #FFF , 392px 484px #FFF , 1976px 93px #FFF , 387px 1181px #FFF , 648px 396px #FFF , 527px 1862px #FFF , 521px 800px #FFF , 156px 193px #FFF , 1723px 283px #FFF , 923px 347px #FFF , 1605px 1449px #FFF , 901px 506px #FFF , 588px 1732px #FFF , 958px 738px #FFF , 366px 481px #FFF , 1255px 1009px #FFF , 686px 43px #FFF , 1377px 1355px #FFF , 553px 1617px #FFF , 592px 620px #FFF , 1901px 1391px #FFF , 1907px 318px #FFF , 1917px 37px #FFF , 1778px 231px #FFF , 1997px 1798px #FFF , 745px 1969px #FFF , 133px 373px #FFF , 411px 763px #FFF , 19px 1995px #FFF , 1268px 525px #FFF , 60px 1449px #FFF , 1540px 1501px #FFF , 596px 1657px #FFF , 260px 1998px #FFF , 544px 496px #FFF , 416px 929px #FFF , 1276px 1673px #FFF , 1414px 70px #FFF , 205px 339px #FFF , 1808px 539px #FFF , 665px 1908px #FFF , 237px 373px #FFF , 1520px 1834px #FFF , 416px 1330px #FFF , 1604px 498px #FFF , 1707px 1946px #FFF , 1448px 1834px #FFF , 1578px 1983px #FFF , 289px 1284px #FFF , 223px 992px #FFF , 1288px 1838px #FFF , 1323px 961px #FFF , 290px 1807px #FFF , 173px 1639px #FFF , 56px 446px #FFF , 967px 375px #FFF , 1210px 1589px #FFF , 803px 1681px #FFF , 77px 1632px #FFF , 598px 1942px #FFF , 10px 1500px #FFF , 631px 1117px #FFF , 1238px 314px #FFF , 310px 1855px #FFF , 1244px 721px #FFF , 1454px 160px #FFF , 1110px 1815px #FFF , 1563px 134px #FFF , 1383px 731px #FFF , 1963px 30px #FFF , 106px 449px #FFF , 245px 1339px #FFF , 1827px 805px #FFF , 124px 1360px #FFF , 351px 989px #FFF , 1605px 363px #FFF , 12px 1311px #FFF , 1417px 1392px #FFF , 547px 1506px #FFF , 149px 410px #FFF , 98px 1015px #FFF , 502px 1932px #FFF , 594px 826px #FFF , 1187px 718px #FFF , 1411px 1624px #FFF , 520px 691px #FFF , 174px 1545px #FFF , 540px 1021px #FFF , 864px 1046px #FFF , 258px 1476px #FFF , 1152px 1932px #FFF , 1924px 386px #FFF , 212px 1265px #FFF , 1526px 1272px #FFF , 437px 1194px #FFF , 1329px 1375px #FFF , 926px 1322px #FFF , 285px 458px #FFF , 1473px 1153px #FFF , 159px 1080px #FFF , 234px 924px #FFF , 383px 1239px #FFF , 1483px 770px #FFF , 1793px 1278px #FFF , 1696px 1852px #FFF , 84px 1744px #FFF , 1773px 1406px #FFF , 893px 1674px #FFF , 1023px 1133px #FFF , 1781px 121px #FFF , 655px 1071px #FFF , 1024px 1759px #FFF , 1802px 125px #FFF , 1485px 1643px #FFF , 1671px 1052px #FFF , 1476px 1715px #FFF , 1423px 154px #FFF , 1760px 638px #FFF , 1200px 1021px #FFF , 1232px 1907px #FFF , 1417px 1623px #FFF , 709px 664px #FFF , 1744px 617px #FFF , 449px 1499px #FFF , 712px 98px #FFF , 246px 278px #FFF , 1079px 16px #FFF , 1848px 54px #FFF , 594px 1054px #FFF , 1096px 216px #FFF , 834px 1737px #FFF , 1065px 240px #FFF , 1443px 20px #FFF , 624px 1984px #FFF , 906px 1362px #FFF , 906px 1902px #FFF , 842px 714px #FFF , 1143px 396px #FFF , 544px 1530px #FFF , 1354px 1837px #FFF , 1951px 1292px #FFF , 603px 950px #FFF , 1745px 1075px #FFF , 739px 1992px #FFF , 696px 778px #FFF , 639px 103px #FFF , 1869px 521px #FFF , 280px 1168px #FFF , 626px 1975px #FFF , 677px 1040px #FFF , 521px 685px #FFF , 535px 1008px #FFF , 511px 53px #FFF , 730px 723px #FFF , 19px 1669px #FFF , 1517px 1447px #FFF , 1878px 437px #FFF , 1411px 1450px #FFF , 1298px 749px #FFF , 106px 838px #FFF , 1526px 1985px #FFF , 1763px 1842px #FFF , 1347px 1466px #FFF , 904px 26px #FFF , 683px 1602px #FFF , 1238px 987px #FFF , 967px 457px #FFF , 1014px 1631px #FFF , 614px 877px #FFF , 1220px 451px #FFF , 798px 975px #FFF , 1676px 671px #FFF , 1385px 728px #FFF , 29px 243px #FFF , 1508px 1135px #FFF , 1451px 463px #FFF , 203px 536px #FFF , 112px 1795px #FFF , 77px 399px #FFF , 1452px 818px #FFF , 300px 1894px #FFF , 1957px 1496px #FFF , 541px 1161px #FFF , 733px 413px #FFF , 795px 172px #FFF , 556px 649px #FFF , 1643px 354px #FFF , 1021px 1955px #FFF , 1092px 256px #FFF , 1657px 1993px #FFF , 841px 1842px #FFF , 1422px 1489px #FFF , 406px 1869px #FFF , 1611px 123px #FFF , 1435px 1598px #FFF , 1160px 1124px #FFF , 1028px 157px #FFF , 493px 1127px #FFF , 179px 1748px #FFF , 1204px 911px #FFF , 72px 1529px #FFF , 1110px 1890px #FFF , 486px 485px #FFF , 1081px 761px #FFF , 577px 1947px #FFF , 830px 1627px #FFF , 554px 236px #FFF , 773px 1236px #FFF , 1739px 361px #FFF , 846px 862px #FFF , 1220px 103px #FFF , 1894px 1417px #FFF , 1939px 417px #FFF , 1751px 1770px #FFF , 433px 959px #FFF , 439px 451px #FFF , 1988px 742px #FFF , 970px 1579px #FFF , 572px 711px #FFF , 727px 1306px #FFF , 375px 1996px #FFF , 644px 1977px #FFF , 295px 648px #FFF , 1992px 1888px #FFF , 1534px 1107px #FFF , 397px 715px #FFF , 79px 116px #FFF , 1615px 1494px #FFF , 986px 490px #FFF , 569px 386px #FFF , 1612px 1321px #FFF , 1614px 1534px #FFF , 865px 737px #FFF , 484px 458px #FFF , 419px 990px #FFF , 1583px 1825px #FFF , 1259px 1139px #FFF , 752px 598px #FFF , 598px 526px #FFF , 1312px 11px #FFF , 1930px 349px #FFF , 1987px 1752px #FFF , 684px 1881px #FFF , 1461px 925px #FFF , 895px 1834px #FFF , 1997px 22px #FFF , 190px 286px #FFF , 181px 1682px #FFF , 1686px 1541px #FFF , 1815px 370px #FFF , 813px 1086px #FFF , 1396px 144px #FFF , 838px 1091px #FFF , 592px 1636px #FFF , 1143px 1236px #FFF , 529px 1154px #FFF , 279px 422px #FFF , 1867px 1065px #FFF , 577px 867px #FFF , 757px 1766px #FFF , 1877px 1591px #FFF , 973px 1461px #FFF , 1943px 1750px #FFF , 1982px 27px #FFF , 1187px 1657px #FFF , 830px 1911px #FFF , 1998px 1996px #FFF , 1325px 100px #FFF , 1487px 1969px #FFF , 477px 1123px #FFF , 1582px 684px #FFF , 760px 1703px #FFF , 229px 927px #FFF , 321px 1532px #FFF , 1111px 616px #FFF , 950px 803px #FFF , 1776px 1031px #FFF , 1639px 467px #FFF , 444px 858px #FFF , 1835px 79px #FFF , 683px 781px #FFF , 496px 489px #FFF , 1725px 994px #FFF , 681px 460px #FFF , 154px 1071px #FFF , 1997px 148px #FFF , 1072px 1563px #FFF , 278px 24px #FFF , 707px 3px #FFF , 914px 965px #FFF , 1066px 936px #FFF , 1399px 705px #FFF , 1622px 1165px #FFF , 1586px 443px #FFF , 393px 75px #FFF , 534px 714px #FFF , 1650px 1375px #FFF , 468px 1137px #FFF , 1442px 1px #FFF , 546px 1584px #FFF , 1702px 757px #FFF , 209px 214px #FFF , 216px 1653px #FFF , 1973px 1001px #FFF , 1737px 1046px #FFF , 510px 782px #FFF , 71px 1897px #FFF , 1743px 1579px #FFF , 1806px 1656px #FFF , 1139px 1050px #FFF , 1544px 1610px #FFF , 999px 51px #FFF , 852px 213px #FFF , 490px 463px #FFF , 1109px 1066px #FFF , 1965px 681px #FFF , 274px 1540px #FFF , 787px 968px #FFF , 1267px 849px #FFF , 1977px 841px #FFF , 1524px 770px #FFF , 1832px 571px #FFF , 883px 1699px #FFF , 544px 1585px #FFF , 180px 716px #FFF , 1950px 257px #FFF , 825px 1437px #FFF , 1734px 1130px #FFF , 1544px 1823px #FFF , 1924px 506px #FFF , 1499px 413px #FFF , 289px 194px #FFF , 1399px 1799px #FFF , 623px 1486px #FFF , 1205px 790px #FFF , 905px 710px #FFF , 1782px 1181px #FFF , 1785px 505px #FFF , 1123px 580px #FFF , 818px 1297px #FFF , 331px 911px #FFF , 1233px 1649px #FFF , 217px 678px #FFF , 1821px 1556px #FFF , 18px 807px #FFF , 1827px 1712px #FFF , 995px 1196px #FFF , 516px 292px #FFF , 1902px 1129px #FFF , 737px 1414px #FFF , 1568px 430px #FFF , 1464px 1311px #FFF , 953px 1285px #FFF , 532px 1398px #FFF , 1369px 1996px #FFF , 105px 1353px #FFF , 1655px 1946px #FFF , 1221px 335px #FFF , 832px 1058px #FFF , 37px 910px #FFF , 1343px 1857px #FFF , 1164px 916px #FFF , 1384px 639px #FFF , 811px 175px #FFF , 1571px 675px #FFF , 1362px 1609px #FFF , 1733px 1141px #FFF , 1391px 968px #FFF , 472px 3px #FFF , 146px 547px #FFF , 1465px 793px #FFF , 30px 612px #FFF , 850px 1223px #FFF , 644px 587px #FFF , 368px 1466px #FFF , 1995px 1920px #FFF , 1712px 6px #FFF , 1526px 565px #FFF , 1431px 704px #FFF , 789px 1482px #FFF , 1901px 225px #FFF , 1898px 1462px #FFF , 1443px 594px #FFF , 147px 572px #FFF , 1797px 1172px #FFF , 1459px 830px #FFF , 661px 172px #FFF , 301px 948px #FFF , 1675px 348px #FFF , 1082px 1199px #FFF , 644px 1781px #FFF , 718px 813px #FFF , 123px 310px #FFF , 363px 684px #FFF , 1593px 145px #FFF , 1913px 384px #FFF , 199px 1684px #FFF , 557px 688px #FFF , 406px 844px #FFF , 675px 681px #FFF , 905px 651px #FFF , 173px 1795px #FFF , 685px 596px #FFF , 1711px 1518px #FFF , 209px 66px #FFF , 1632px 825px #FFF , 1790px 1276px #FFF , 263px 862px #FFF , 68px 561px #FFF , 640px 1709px #FFF , 1548px 1224px #FFF , 885px 664px #FFF , 1126px 693px #FFF , 1913px 261px #FFF , 653px 159px #FFF , 220px 291px #FFF , 1355px 1250px #FFF , 1965px 1141px #FFF , 618px 1706px #FFF , 1273px 673px #FFF , 188px 634px #FFF , 431px 904px #FFF , 1826px 228px #FFF , 1363px 1488px #FFF , 1056px 1908px #FFF , 1338px 1238px #FFF , 194px 210px #FFF , 1487px 1036px #FFF , 142px 1646px #FFF , 295px 754px #FFF , 975px 482px #FFF , 536px 561px #FFF , 1504px 808px #FFF , 896px 1431px #FFF , 1151px 272px #FFF , 519px 946px #FFF , 540px 1105px #FFF , 438px 958px #FFF , 274px 1480px #FFF , 1677px 702px #FFF , 1116px 464px #FFF , 941px 43px #FFF , 106px 31px #FFF , 1930px 1051px #FFF , 1018px 1584px #FFF , 1721px 141px #FFF , 1240px 1017px #FFF , 1717px 647px #FFF , 1764px 53px #FFF , 1654px 607px #FFF , 713px 892px #FFF , 1079px 399px #FFF , 109px 1612px #FFF , 823px 736px #FFF , 1022px 295px #FFF , 715px 1542px #FFF , 553px 1651px #FFF , 764px 1476px #FFF , 831px 1010px #FFF , 181px 1148px #FFF , 1366px 1569px #FFF , 1125px 619px #FFF , 496px 761px #FFF , 1599px 446px #FFF , 173px 976px #FFF , 161px 691px #FFF , 1781px 317px #FFF , 1239px 1795px #FFF , 1624px 145px #FFF;
  -webkit-animation: animStar 50s linear infinite;
  -moz-animation: animStar 50s linear infinite;
  -o-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1926px 695px #FFF , 1869px 581px #FFF , 94px 1701px #FFF , 1576px 404px #FFF , 260px 897px #FFF , 431px 520px #FFF , 1992px 1015px #FFF , 149px 1129px #FFF , 1284px 1289px #FFF , 1315px 1909px #FFF , 1806px 1117px #FFF , 1154px 1095px #FFF , 1374px 1429px #FFF , 42px 799px #FFF , 275px 1375px #FFF , 374px 1721px #FFF , 795px 1268px #FFF , 1930px 1224px #FFF , 402px 1001px #FFF , 85px 697px #FFF , 1041px 400px #FFF , 348px 1485px #FFF , 114px 1366px #FFF , 1559px 1366px #FFF , 344px 868px #FFF , 1105px 599px #FFF , 887px 1518px #FFF , 1408px 1328px #FFF , 1200px 1199px #FFF , 1380px 1848px #FFF , 1521px 1563px #FFF , 1895px 1504px #FFF , 79px 958px #FFF , 1873px 250px #FFF , 1264px 1950px #FFF , 975px 400px #FFF , 1692px 268px #FFF , 1873px 1110px #FFF , 514px 1459px #FFF , 1763px 529px #FFF , 1438px 365px #FFF , 1876px 31px #FFF , 198px 1687px #FFF , 1662px 1523px #FFF , 120px 1105px #FFF , 1189px 692px #FFF , 1129px 1587px #FFF , 758px 1327px #FFF , 339px 1536px #FFF , 711px 1625px #FFF , 321px 1559px #FFF , 1272px 1350px #FFF , 1674px 1661px #FFF , 733px 460px #FFF , 1801px 1542px #FFF , 731px 476px #FFF , 1959px 147px #FFF , 1565px 921px #FFF , 335px 1531px #FFF , 863px 1778px #FFF , 168px 1675px #FFF , 915px 168px #FFF , 1052px 837px #FFF , 1707px 1513px #FFF , 1643px 1691px #FFF , 155px 883px #FFF , 881px 1362px #FFF , 1862px 398px #FFF , 419px 356px #FFF , 978px 1815px #FFF , 1594px 1343px #FFF , 1104px 470px #FFF , 1610px 1781px #FFF , 107px 418px #FFF , 1870px 1043px #FFF , 1586px 1964px #FFF , 903px 1100px #FFF , 1799px 1785px #FFF , 536px 10px #FFF , 1117px 3px #FFF , 358px 1583px #FFF , 1054px 932px #FFF , 1488px 1320px #FFF , 1737px 570px #FFF , 1919px 372px #FFF , 32px 1615px #FFF , 292px 707px #FFF , 1012px 1262px #FFF , 1279px 579px #FFF , 571px 1608px #FFF , 1418px 1589px #FFF , 1508px 1300px #FFF , 245px 1064px #FFF , 690px 713px #FFF , 1722px 684px #FFF , 478px 443px #FFF , 1650px 162px #FFF , 1361px 1523px #FFF , 434px 71px #FFF , 925px 366px #FFF , 1101px 1380px #FFF , 1083px 314px #FFF , 240px 395px #FFF , 1008px 295px #FFF , 30px 1641px #FFF , 57px 997px #FFF , 233px 1207px #FFF , 1131px 571px #FFF , 705px 1508px #FFF , 1563px 1556px #FFF , 1337px 371px #FFF , 1765px 560px #FFF , 349px 29px #FFF , 1471px 1472px #FFF , 34px 318px #FFF , 152px 138px #FFF , 1753px 1965px #FFF , 500px 1px #FFF , 328px 978px #FFF , 1562px 1411px #FFF , 142px 642px #FFF , 175px 1788px #FFF , 1389px 56px #FFF , 504px 1488px #FFF , 1381px 666px #FFF , 1352px 54px #FFF , 159px 758px #FFF , 1555px 1227px #FFF , 243px 1306px #FFF , 971px 558px #FFF , 1287px 112px #FFF , 476px 1480px #FFF , 1778px 548px #FFF , 493px 728px #FFF , 1997px 1430px #FFF , 1286px 1414px #FFF , 1096px 979px #FFF , 1983px 495px #FFF , 294px 1559px #FFF , 1579px 21px #FFF , 1865px 1173px #FFF , 1806px 1570px #FFF , 1464px 1107px #FFF , 573px 1657px #FFF , 556px 711px #FFF , 805px 488px #FFF , 922px 253px #FFF , 1249px 1172px #FFF , 370px 402px #FFF , 172px 1547px #FFF , 1602px 569px #FFF , 1905px 1144px #FFF , 1253px 1058px #FFF , 1536px 719px #FFF , 1400px 552px #FFF , 1318px 47px #FFF , 155px 1656px #FFF , 1193px 50px #FFF , 50px 1425px #FFF , 1263px 1356px #FFF , 1347px 1421px #FFF , 348px 405px #FFF , 448px 657px #FFF , 289px 1250px #FFF , 1761px 471px #FFF , 887px 1787px #FFF , 287px 1066px #FFF , 684px 911px #FFF , 1826px 740px #FFF , 1691px 1750px #FFF , 200px 1023px #FFF , 528px 1205px #FFF , 774px 1242px #FFF , 1161px 687px #FFF , 1996px 280px #FFF , 1488px 407px #FFF , 618px 1997px #FFF , 1705px 1815px #FFF , 1011px 1019px #FFF , 999px 295px #FFF , 1562px 480px #FFF , 190px 1805px #FFF , 412px 1292px #FFF , 1859px 1365px #FFF , 754px 1890px #FFF , 1327px 56px #FFF , 1067px 489px #FFF , 1282px 29px #FFF , 1476px 587px #FFF , 1593px 640px #FFF , 1803px 1731px #FFF , 927px 387px #FFF , 1125px 1632px #FFF , 1686px 1082px #FFF , 1436px 1022px #FFF , 545px 1929px #FFF , 304px 422px #FFF , 1599px 781px #FFF , 491px 1858px #FFF , 426px 1354px #FFF , 157px 591px #FFF , 255px 233px #FFF , 815px 9px #FFF , 42px 673px #FFF , 429px 59px #FFF , 1211px 705px #FFF , 1181px 1926px #FFF , 252px 1492px #FFF , 1928px 1560px #FFF , 354px 152px #FFF , 223px 1062px #FFF , 1045px 1406px #FFF , 857px 638px #FFF , 994px 1290px #FFF , 981px 790px #FFF , 273px 1751px #FFF , 291px 180px #FFF , 1053px 379px #FFF , 1670px 403px #FFF , 860px 376px #FFF , 1739px 1067px #FFF , 1974px 884px #FFF , 826px 1665px #FFF , 1569px 1492px #FFF , 1584px 599px #FFF , 1398px 1094px #FFF , 1636px 1735px #FFF , 373px 1227px #FFF , 340px 1580px #FFF , 819px 496px #FFF , 895px 942px #FFF , 669px 362px #FFF , 392px 484px #FFF , 1976px 93px #FFF , 387px 1181px #FFF , 648px 396px #FFF , 527px 1862px #FFF , 521px 800px #FFF , 156px 193px #FFF , 1723px 283px #FFF , 923px 347px #FFF , 1605px 1449px #FFF , 901px 506px #FFF , 588px 1732px #FFF , 958px 738px #FFF , 366px 481px #FFF , 1255px 1009px #FFF , 686px 43px #FFF , 1377px 1355px #FFF , 553px 1617px #FFF , 592px 620px #FFF , 1901px 1391px #FFF , 1907px 318px #FFF , 1917px 37px #FFF , 1778px 231px #FFF , 1997px 1798px #FFF , 745px 1969px #FFF , 133px 373px #FFF , 411px 763px #FFF , 19px 1995px #FFF , 1268px 525px #FFF , 60px 1449px #FFF , 1540px 1501px #FFF , 596px 1657px #FFF , 260px 1998px #FFF , 544px 496px #FFF , 416px 929px #FFF , 1276px 1673px #FFF , 1414px 70px #FFF , 205px 339px #FFF , 1808px 539px #FFF , 665px 1908px #FFF , 237px 373px #FFF , 1520px 1834px #FFF , 416px 1330px #FFF , 1604px 498px #FFF , 1707px 1946px #FFF , 1448px 1834px #FFF , 1578px 1983px #FFF , 289px 1284px #FFF , 223px 992px #FFF , 1288px 1838px #FFF , 1323px 961px #FFF , 290px 1807px #FFF , 173px 1639px #FFF , 56px 446px #FFF , 967px 375px #FFF , 1210px 1589px #FFF , 803px 1681px #FFF , 77px 1632px #FFF , 598px 1942px #FFF , 10px 1500px #FFF , 631px 1117px #FFF , 1238px 314px #FFF , 310px 1855px #FFF , 1244px 721px #FFF , 1454px 160px #FFF , 1110px 1815px #FFF , 1563px 134px #FFF , 1383px 731px #FFF , 1963px 30px #FFF , 106px 449px #FFF , 245px 1339px #FFF , 1827px 805px #FFF , 124px 1360px #FFF , 351px 989px #FFF , 1605px 363px #FFF , 12px 1311px #FFF , 1417px 1392px #FFF , 547px 1506px #FFF , 149px 410px #FFF , 98px 1015px #FFF , 502px 1932px #FFF , 594px 826px #FFF , 1187px 718px #FFF , 1411px 1624px #FFF , 520px 691px #FFF , 174px 1545px #FFF , 540px 1021px #FFF , 864px 1046px #FFF , 258px 1476px #FFF , 1152px 1932px #FFF , 1924px 386px #FFF , 212px 1265px #FFF , 1526px 1272px #FFF , 437px 1194px #FFF , 1329px 1375px #FFF , 926px 1322px #FFF , 285px 458px #FFF , 1473px 1153px #FFF , 159px 1080px #FFF , 234px 924px #FFF , 383px 1239px #FFF , 1483px 770px #FFF , 1793px 1278px #FFF , 1696px 1852px #FFF , 84px 1744px #FFF , 1773px 1406px #FFF , 893px 1674px #FFF , 1023px 1133px #FFF , 1781px 121px #FFF , 655px 1071px #FFF , 1024px 1759px #FFF , 1802px 125px #FFF , 1485px 1643px #FFF , 1671px 1052px #FFF , 1476px 1715px #FFF , 1423px 154px #FFF , 1760px 638px #FFF , 1200px 1021px #FFF , 1232px 1907px #FFF , 1417px 1623px #FFF , 709px 664px #FFF , 1744px 617px #FFF , 449px 1499px #FFF , 712px 98px #FFF , 246px 278px #FFF , 1079px 16px #FFF , 1848px 54px #FFF , 594px 1054px #FFF , 1096px 216px #FFF , 834px 1737px #FFF , 1065px 240px #FFF , 1443px 20px #FFF , 624px 1984px #FFF , 906px 1362px #FFF , 906px 1902px #FFF , 842px 714px #FFF , 1143px 396px #FFF , 544px 1530px #FFF , 1354px 1837px #FFF , 1951px 1292px #FFF , 603px 950px #FFF , 1745px 1075px #FFF , 739px 1992px #FFF , 696px 778px #FFF , 639px 103px #FFF , 1869px 521px #FFF , 280px 1168px #FFF , 626px 1975px #FFF , 677px 1040px #FFF , 521px 685px #FFF , 535px 1008px #FFF , 511px 53px #FFF , 730px 723px #FFF , 19px 1669px #FFF , 1517px 1447px #FFF , 1878px 437px #FFF , 1411px 1450px #FFF , 1298px 749px #FFF , 106px 838px #FFF , 1526px 1985px #FFF , 1763px 1842px #FFF , 1347px 1466px #FFF , 904px 26px #FFF , 683px 1602px #FFF , 1238px 987px #FFF , 967px 457px #FFF , 1014px 1631px #FFF , 614px 877px #FFF , 1220px 451px #FFF , 798px 975px #FFF , 1676px 671px #FFF , 1385px 728px #FFF , 29px 243px #FFF , 1508px 1135px #FFF , 1451px 463px #FFF , 203px 536px #FFF , 112px 1795px #FFF , 77px 399px #FFF , 1452px 818px #FFF , 300px 1894px #FFF , 1957px 1496px #FFF , 541px 1161px #FFF , 733px 413px #FFF , 795px 172px #FFF , 556px 649px #FFF , 1643px 354px #FFF , 1021px 1955px #FFF , 1092px 256px #FFF , 1657px 1993px #FFF , 841px 1842px #FFF , 1422px 1489px #FFF , 406px 1869px #FFF , 1611px 123px #FFF , 1435px 1598px #FFF , 1160px 1124px #FFF , 1028px 157px #FFF , 493px 1127px #FFF , 179px 1748px #FFF , 1204px 911px #FFF , 72px 1529px #FFF , 1110px 1890px #FFF , 486px 485px #FFF , 1081px 761px #FFF , 577px 1947px #FFF , 830px 1627px #FFF , 554px 236px #FFF , 773px 1236px #FFF , 1739px 361px #FFF , 846px 862px #FFF , 1220px 103px #FFF , 1894px 1417px #FFF , 1939px 417px #FFF , 1751px 1770px #FFF , 433px 959px #FFF , 439px 451px #FFF , 1988px 742px #FFF , 970px 1579px #FFF , 572px 711px #FFF , 727px 1306px #FFF , 375px 1996px #FFF , 644px 1977px #FFF , 295px 648px #FFF , 1992px 1888px #FFF , 1534px 1107px #FFF , 397px 715px #FFF , 79px 116px #FFF , 1615px 1494px #FFF , 986px 490px #FFF , 569px 386px #FFF , 1612px 1321px #FFF , 1614px 1534px #FFF , 865px 737px #FFF , 484px 458px #FFF , 419px 990px #FFF , 1583px 1825px #FFF , 1259px 1139px #FFF , 752px 598px #FFF , 598px 526px #FFF , 1312px 11px #FFF , 1930px 349px #FFF , 1987px 1752px #FFF , 684px 1881px #FFF , 1461px 925px #FFF , 895px 1834px #FFF , 1997px 22px #FFF , 190px 286px #FFF , 181px 1682px #FFF , 1686px 1541px #FFF , 1815px 370px #FFF , 813px 1086px #FFF , 1396px 144px #FFF , 838px 1091px #FFF , 592px 1636px #FFF , 1143px 1236px #FFF , 529px 1154px #FFF , 279px 422px #FFF , 1867px 1065px #FFF , 577px 867px #FFF , 757px 1766px #FFF , 1877px 1591px #FFF , 973px 1461px #FFF , 1943px 1750px #FFF , 1982px 27px #FFF , 1187px 1657px #FFF , 830px 1911px #FFF , 1998px 1996px #FFF , 1325px 100px #FFF , 1487px 1969px #FFF , 477px 1123px #FFF , 1582px 684px #FFF , 760px 1703px #FFF , 229px 927px #FFF , 321px 1532px #FFF , 1111px 616px #FFF , 950px 803px #FFF , 1776px 1031px #FFF , 1639px 467px #FFF , 444px 858px #FFF , 1835px 79px #FFF , 683px 781px #FFF , 496px 489px #FFF , 1725px 994px #FFF , 681px 460px #FFF , 154px 1071px #FFF , 1997px 148px #FFF , 1072px 1563px #FFF , 278px 24px #FFF , 707px 3px #FFF , 914px 965px #FFF , 1066px 936px #FFF , 1399px 705px #FFF , 1622px 1165px #FFF , 1586px 443px #FFF , 393px 75px #FFF , 534px 714px #FFF , 1650px 1375px #FFF , 468px 1137px #FFF , 1442px 1px #FFF , 546px 1584px #FFF , 1702px 757px #FFF , 209px 214px #FFF , 216px 1653px #FFF , 1973px 1001px #FFF , 1737px 1046px #FFF , 510px 782px #FFF , 71px 1897px #FFF , 1743px 1579px #FFF , 1806px 1656px #FFF , 1139px 1050px #FFF , 1544px 1610px #FFF , 999px 51px #FFF , 852px 213px #FFF , 490px 463px #FFF , 1109px 1066px #FFF , 1965px 681px #FFF , 274px 1540px #FFF , 787px 968px #FFF , 1267px 849px #FFF , 1977px 841px #FFF , 1524px 770px #FFF , 1832px 571px #FFF , 883px 1699px #FFF , 544px 1585px #FFF , 180px 716px #FFF , 1950px 257px #FFF , 825px 1437px #FFF , 1734px 1130px #FFF , 1544px 1823px #FFF , 1924px 506px #FFF , 1499px 413px #FFF , 289px 194px #FFF , 1399px 1799px #FFF , 623px 1486px #FFF , 1205px 790px #FFF , 905px 710px #FFF , 1782px 1181px #FFF , 1785px 505px #FFF , 1123px 580px #FFF , 818px 1297px #FFF , 331px 911px #FFF , 1233px 1649px #FFF , 217px 678px #FFF , 1821px 1556px #FFF , 18px 807px #FFF , 1827px 1712px #FFF , 995px 1196px #FFF , 516px 292px #FFF , 1902px 1129px #FFF , 737px 1414px #FFF , 1568px 430px #FFF , 1464px 1311px #FFF , 953px 1285px #FFF , 532px 1398px #FFF , 1369px 1996px #FFF , 105px 1353px #FFF , 1655px 1946px #FFF , 1221px 335px #FFF , 832px 1058px #FFF , 37px 910px #FFF , 1343px 1857px #FFF , 1164px 916px #FFF , 1384px 639px #FFF , 811px 175px #FFF , 1571px 675px #FFF , 1362px 1609px #FFF , 1733px 1141px #FFF , 1391px 968px #FFF , 472px 3px #FFF , 146px 547px #FFF , 1465px 793px #FFF , 30px 612px #FFF , 850px 1223px #FFF , 644px 587px #FFF , 368px 1466px #FFF , 1995px 1920px #FFF , 1712px 6px #FFF , 1526px 565px #FFF , 1431px 704px #FFF , 789px 1482px #FFF , 1901px 225px #FFF , 1898px 1462px #FFF , 1443px 594px #FFF , 147px 572px #FFF , 1797px 1172px #FFF , 1459px 830px #FFF , 661px 172px #FFF , 301px 948px #FFF , 1675px 348px #FFF , 1082px 1199px #FFF , 644px 1781px #FFF , 718px 813px #FFF , 123px 310px #FFF , 363px 684px #FFF , 1593px 145px #FFF , 1913px 384px #FFF , 199px 1684px #FFF , 557px 688px #FFF , 406px 844px #FFF , 675px 681px #FFF , 905px 651px #FFF , 173px 1795px #FFF , 685px 596px #FFF , 1711px 1518px #FFF , 209px 66px #FFF , 1632px 825px #FFF , 1790px 1276px #FFF , 263px 862px #FFF , 68px 561px #FFF , 640px 1709px #FFF , 1548px 1224px #FFF , 885px 664px #FFF , 1126px 693px #FFF , 1913px 261px #FFF , 653px 159px #FFF , 220px 291px #FFF , 1355px 1250px #FFF , 1965px 1141px #FFF , 618px 1706px #FFF , 1273px 673px #FFF , 188px 634px #FFF , 431px 904px #FFF , 1826px 228px #FFF , 1363px 1488px #FFF , 1056px 1908px #FFF , 1338px 1238px #FFF , 194px 210px #FFF , 1487px 1036px #FFF , 142px 1646px #FFF , 295px 754px #FFF , 975px 482px #FFF , 536px 561px #FFF , 1504px 808px #FFF , 896px 1431px #FFF , 1151px 272px #FFF , 519px 946px #FFF , 540px 1105px #FFF , 438px 958px #FFF , 274px 1480px #FFF , 1677px 702px #FFF , 1116px 464px #FFF , 941px 43px #FFF , 106px 31px #FFF , 1930px 1051px #FFF , 1018px 1584px #FFF , 1721px 141px #FFF , 1240px 1017px #FFF , 1717px 647px #FFF , 1764px 53px #FFF , 1654px 607px #FFF , 713px 892px #FFF , 1079px 399px #FFF , 109px 1612px #FFF , 823px 736px #FFF , 1022px 295px #FFF , 715px 1542px #FFF , 553px 1651px #FFF , 764px 1476px #FFF , 831px 1010px #FFF , 181px 1148px #FFF , 1366px 1569px #FFF , 1125px 619px #FFF , 496px 761px #FFF , 1599px 446px #FFF , 173px 976px #FFF , 161px 691px #FFF , 1781px 317px #FFF , 1239px 1795px #FFF , 1624px 145px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1275px 707px #FFF , 208px 116px #FFF , 1925px 179px #FFF , 1422px 1517px #FFF , 68px 1481px #FFF , 1179px 303px #FFF , 219px 1837px #FFF , 11px 406px #FFF , 736px 773px #FFF , 51px 1209px #FFF , 19px 713px #FFF , 1669px 426px #FFF , 329px 1439px #FFF , 377px 1522px #FFF , 309px 1435px #FFF , 1183px 1318px #FFF , 169px 1254px #FFF , 1892px 435px #FFF , 1119px 1088px #FFF , 477px 290px #FFF , 1506px 1791px #FFF , 1850px 1154px #FFF , 1485px 423px #FFF , 769px 135px #FFF , 979px 975px #FFF , 1679px 1773px #FFF , 589px 188px #FFF , 1421px 755px #FFF , 1300px 1836px #FFF , 1175px 1994px #FFF , 58px 852px #FFF , 1123px 232px #FFF , 1162px 565px #FFF , 4px 278px #FFF , 774px 828px #FFF , 1523px 1755px #FFF , 1964px 1247px #FFF , 1956px 219px #FFF , 1185px 239px #FFF , 168px 561px #FFF , 751px 416px #FFF , 666px 1771px #FFF , 861px 1355px #FFF , 1474px 905px #FFF , 1722px 1971px #FFF , 518px 328px #FFF , 857px 936px #FFF , 1437px 1231px #FFF , 1941px 599px #FFF , 1593px 455px #FFF , 521px 1084px #FFF , 1346px 929px #FFF , 236px 1498px #FFF , 83px 1771px #FFF , 132px 1206px #FFF , 1625px 1051px #FFF , 1556px 1532px #FFF , 1642px 1272px #FFF , 854px 18px #FFF , 1389px 701px #FFF , 1228px 1499px #FFF , 1173px 967px #FFF , 1005px 455px #FFF , 782px 1624px #FFF , 933px 1131px #FFF , 1782px 843px #FFF , 1426px 1721px #FFF , 1966px 1117px #FFF , 979px 775px #FFF , 463px 1685px #FFF , 654px 1588px #FFF , 359px 968px #FFF , 1660px 429px #FFF , 560px 1760px #FFF , 1074px 767px #FFF , 92px 975px #FFF , 553px 372px #FFF , 1897px 1749px #FFF , 414px 1078px #FFF , 653px 805px #FFF , 477px 1998px #FFF , 1567px 1350px #FFF , 531px 940px #FFF , 894px 499px #FFF , 523px 350px #FFF , 1895px 489px #FFF , 224px 550px #FFF , 1467px 113px #FFF , 422px 205px #FFF , 1945px 1531px #FFF , 828px 1375px #FFF , 397px 1486px #FFF , 1165px 1346px #FFF , 259px 1325px #FFF , 700px 1152px #FFF , 58px 54px #FFF , 991px 874px #FFF , 639px 1320px #FFF , 1895px 1486px #FFF , 879px 710px #FFF , 842px 1167px #FFF , 588px 703px #FFF , 1930px 1902px #FFF , 1835px 1049px #FFF , 399px 1017px #FFF , 617px 49px #FFF , 1316px 1102px #FFF , 1725px 655px #FFF , 1171px 1955px #FFF , 1144px 860px #FFF , 552px 1609px #FFF , 260px 1795px #FFF , 982px 402px #FFF , 48px 388px #FFF , 1313px 1566px #FFF , 1862px 279px #FFF , 894px 1598px #FFF , 1937px 798px #FFF , 571px 1515px #FFF , 1039px 341px #FFF , 1766px 1824px #FFF , 1267px 288px #FFF , 611px 1134px #FFF , 1763px 1px #FFF , 20px 586px #FFF , 638px 1994px #FFF , 474px 881px #FFF , 166px 1908px #FFF , 880px 437px #FFF , 6px 211px #FFF , 1974px 1311px #FFF , 1128px 396px #FFF , 1954px 965px #FFF , 1003px 1974px #FFF , 63px 200px #FFF , 779px 790px #FFF , 552px 339px #FFF , 1319px 358px #FFF , 1051px 314px #FFF , 708px 1369px #FFF , 935px 1793px #FFF , 1421px 1791px #FFF , 1835px 1298px #FFF , 599px 12px #FFF , 1746px 1592px #FFF , 660px 236px #FFF , 72px 732px #FFF , 1152px 757px #FFF , 359px 1209px #FFF , 1101px 90px #FFF , 717px 67px #FFF , 1099px 1351px #FFF , 1491px 656px #FFF , 1252px 318px #FFF , 1070px 109px #FFF , 1203px 887px #FFF , 1486px 1008px #FFF , 256px 1008px #FFF , 121px 1493px #FFF , 1768px 1212px #FFF , 1093px 368px #FFF , 1177px 1764px #FFF , 1893px 1840px #FFF , 387px 488px #FFF , 93px 1934px #FFF , 1761px 664px #FFF , 1795px 1303px #FFF , 1390px 783px #FFF , 250px 1521px #FFF , 1353px 1488px #FFF , 1125px 962px #FFF , 511px 423px #FFF , 1446px 118px #FFF , 1261px 1727px #FFF , 915px 1802px #FFF , 351px 200px #FFF , 1297px 517px #FFF , 170px 93px #FFF , 1394px 385px #FFF , 1935px 1379px #FFF , 433px 1894px #FFF , 718px 105px #FFF , 745px 582px #FFF , 1423px 170px #FFF , 411px 827px #FFF , 867px 1825px #FFF , 1451px 586px #FFF , 961px 1590px #FFF , 382px 1753px #FFF , 1954px 752px #FFF , 878px 1443px #FFF , 1265px 72px #FFF , 1080px 647px #FFF , 879px 892px #FFF , 1344px 1962px #FFF , 1189px 1708px #FFF , 1504px 351px #FFF , 1305px 876px #FFF , 1233px 1423px #FFF , 1324px 97px #FFF;
  -webkit-animation: animStar 100s linear infinite;
  -moz-animation: animStar 100s linear infinite;
  -o-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1275px 707px #FFF , 208px 116px #FFF , 1925px 179px #FFF , 1422px 1517px #FFF , 68px 1481px #FFF , 1179px 303px #FFF , 219px 1837px #FFF , 11px 406px #FFF , 736px 773px #FFF , 51px 1209px #FFF , 19px 713px #FFF , 1669px 426px #FFF , 329px 1439px #FFF , 377px 1522px #FFF , 309px 1435px #FFF , 1183px 1318px #FFF , 169px 1254px #FFF , 1892px 435px #FFF , 1119px 1088px #FFF , 477px 290px #FFF , 1506px 1791px #FFF , 1850px 1154px #FFF , 1485px 423px #FFF , 769px 135px #FFF , 979px 975px #FFF , 1679px 1773px #FFF , 589px 188px #FFF , 1421px 755px #FFF , 1300px 1836px #FFF , 1175px 1994px #FFF , 58px 852px #FFF , 1123px 232px #FFF , 1162px 565px #FFF , 4px 278px #FFF , 774px 828px #FFF , 1523px 1755px #FFF , 1964px 1247px #FFF , 1956px 219px #FFF , 1185px 239px #FFF , 168px 561px #FFF , 751px 416px #FFF , 666px 1771px #FFF , 861px 1355px #FFF , 1474px 905px #FFF , 1722px 1971px #FFF , 518px 328px #FFF , 857px 936px #FFF , 1437px 1231px #FFF , 1941px 599px #FFF , 1593px 455px #FFF , 521px 1084px #FFF , 1346px 929px #FFF , 236px 1498px #FFF , 83px 1771px #FFF , 132px 1206px #FFF , 1625px 1051px #FFF , 1556px 1532px #FFF , 1642px 1272px #FFF , 854px 18px #FFF , 1389px 701px #FFF , 1228px 1499px #FFF , 1173px 967px #FFF , 1005px 455px #FFF , 782px 1624px #FFF , 933px 1131px #FFF , 1782px 843px #FFF , 1426px 1721px #FFF , 1966px 1117px #FFF , 979px 775px #FFF , 463px 1685px #FFF , 654px 1588px #FFF , 359px 968px #FFF , 1660px 429px #FFF , 560px 1760px #FFF , 1074px 767px #FFF , 92px 975px #FFF , 553px 372px #FFF , 1897px 1749px #FFF , 414px 1078px #FFF , 653px 805px #FFF , 477px 1998px #FFF , 1567px 1350px #FFF , 531px 940px #FFF , 894px 499px #FFF , 523px 350px #FFF , 1895px 489px #FFF , 224px 550px #FFF , 1467px 113px #FFF , 422px 205px #FFF , 1945px 1531px #FFF , 828px 1375px #FFF , 397px 1486px #FFF , 1165px 1346px #FFF , 259px 1325px #FFF , 700px 1152px #FFF , 58px 54px #FFF , 991px 874px #FFF , 639px 1320px #FFF , 1895px 1486px #FFF , 879px 710px #FFF , 842px 1167px #FFF , 588px 703px #FFF , 1930px 1902px #FFF , 1835px 1049px #FFF , 399px 1017px #FFF , 617px 49px #FFF , 1316px 1102px #FFF , 1725px 655px #FFF , 1171px 1955px #FFF , 1144px 860px #FFF , 552px 1609px #FFF , 260px 1795px #FFF , 982px 402px #FFF , 48px 388px #FFF , 1313px 1566px #FFF , 1862px 279px #FFF , 894px 1598px #FFF , 1937px 798px #FFF , 571px 1515px #FFF , 1039px 341px #FFF , 1766px 1824px #FFF , 1267px 288px #FFF , 611px 1134px #FFF , 1763px 1px #FFF , 20px 586px #FFF , 638px 1994px #FFF , 474px 881px #FFF , 166px 1908px #FFF , 880px 437px #FFF , 6px 211px #FFF , 1974px 1311px #FFF , 1128px 396px #FFF , 1954px 965px #FFF , 1003px 1974px #FFF , 63px 200px #FFF , 779px 790px #FFF , 552px 339px #FFF , 1319px 358px #FFF , 1051px 314px #FFF , 708px 1369px #FFF , 935px 1793px #FFF , 1421px 1791px #FFF , 1835px 1298px #FFF , 599px 12px #FFF , 1746px 1592px #FFF , 660px 236px #FFF , 72px 732px #FFF , 1152px 757px #FFF , 359px 1209px #FFF , 1101px 90px #FFF , 717px 67px #FFF , 1099px 1351px #FFF , 1491px 656px #FFF , 1252px 318px #FFF , 1070px 109px #FFF , 1203px 887px #FFF , 1486px 1008px #FFF , 256px 1008px #FFF , 121px 1493px #FFF , 1768px 1212px #FFF , 1093px 368px #FFF , 1177px 1764px #FFF , 1893px 1840px #FFF , 387px 488px #FFF , 93px 1934px #FFF , 1761px 664px #FFF , 1795px 1303px #FFF , 1390px 783px #FFF , 250px 1521px #FFF , 1353px 1488px #FFF , 1125px 962px #FFF , 511px 423px #FFF , 1446px 118px #FFF , 1261px 1727px #FFF , 915px 1802px #FFF , 351px 200px #FFF , 1297px 517px #FFF , 170px 93px #FFF , 1394px 385px #FFF , 1935px 1379px #FFF , 433px 1894px #FFF , 718px 105px #FFF , 745px 582px #FFF , 1423px 170px #FFF , 411px 827px #FFF , 867px 1825px #FFF , 1451px 586px #FFF , 961px 1590px #FFF , 382px 1753px #FFF , 1954px 752px #FFF , 878px 1443px #FFF , 1265px 72px #FFF , 1080px 647px #FFF , 879px 892px #FFF , 1344px 1962px #FFF , 1189px 1708px #FFF , 1504px 351px #FFF , 1305px 876px #FFF , 1233px 1423px #FFF , 1324px 97px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 874px 79px #FFF , 1767px 830px #FFF , 1137px 180px #FFF , 191px 222px #FFF , 1361px 86px #FFF , 1756px 920px #FFF , 540px 1179px #FFF , 698px 97px #FFF , 1015px 954px #FFF , 1734px 1204px #FFF , 1105px 1719px #FFF , 616px 1929px #FFF , 1705px 90px #FFF , 244px 68px #FFF , 1640px 1803px #FFF , 436px 1435px #FFF , 1560px 1703px #FFF , 9px 333px #FFF , 531px 197px #FFF , 977px 1322px #FFF , 1118px 227px #FFF , 1199px 348px #FFF , 139px 1164px #FFF , 1169px 1470px #FFF , 952px 1351px #FFF , 1932px 448px #FFF , 1732px 1370px #FFF , 1122px 780px #FFF , 685px 232px #FFF , 169px 261px #FFF , 1982px 1927px #FFF , 1094px 1529px #FFF , 282px 727px #FFF , 1816px 570px #FFF , 209px 322px #FFF , 361px 120px #FFF , 190px 924px #FFF , 355px 841px #FFF , 1086px 251px #FFF , 1386px 1124px #FFF , 375px 222px #FFF , 1835px 654px #FFF , 1456px 491px #FFF , 1507px 1387px #FFF , 679px 849px #FFF , 630px 365px #FFF , 1562px 1142px #FFF , 1083px 1378px #FFF , 1806px 1508px #FFF , 1796px 1902px #FFF , 1136px 848px #FFF , 1388px 1226px #FFF , 1725px 1994px #FFF , 1176px 1617px #FFF , 1858px 215px #FFF , 708px 1991px #FFF , 395px 259px #FFF , 1258px 1529px #FFF , 752px 1587px #FFF , 1710px 102px #FFF , 1718px 587px #FFF , 1869px 1662px #FFF , 680px 768px #FFF , 388px 594px #FFF , 1167px 1533px #FFF , 228px 298px #FFF , 1610px 521px #FFF , 1173px 1064px #FFF , 292px 438px #FFF , 1485px 1479px #FFF , 396px 534px #FFF , 975px 1362px #FFF , 1085px 185px #FFF , 830px 188px #FFF , 383px 958px #FFF , 1087px 1679px #FFF , 1118px 1944px #FFF , 684px 1100px #FFF , 685px 967px #FFF , 1507px 11px #FFF , 1524px 481px #FFF , 117px 1380px #FFF , 284px 192px #FFF , 1289px 1359px #FFF , 1572px 1636px #FFF , 1785px 1983px #FFF , 254px 1300px #FFF , 1111px 358px #FFF , 1224px 950px #FFF , 1904px 1528px #FFF , 1183px 1480px #FFF , 1235px 470px #FFF , 1201px 629px #FFF , 1406px 1510px #FFF , 392px 1858px #FFF , 34px 825px #FFF , 1340px 1507px #FFF , 200px 1330px #FFF , 833px 809px #FFF , 1587px 970px #FFF;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -o-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 874px 79px #FFF , 1767px 830px #FFF , 1137px 180px #FFF , 191px 222px #FFF , 1361px 86px #FFF , 1756px 920px #FFF , 540px 1179px #FFF , 698px 97px #FFF , 1015px 954px #FFF , 1734px 1204px #FFF , 1105px 1719px #FFF , 616px 1929px #FFF , 1705px 90px #FFF , 244px 68px #FFF , 1640px 1803px #FFF , 436px 1435px #FFF , 1560px 1703px #FFF , 9px 333px #FFF , 531px 197px #FFF , 977px 1322px #FFF , 1118px 227px #FFF , 1199px 348px #FFF , 139px 1164px #FFF , 1169px 1470px #FFF , 952px 1351px #FFF , 1932px 448px #FFF , 1732px 1370px #FFF , 1122px 780px #FFF , 685px 232px #FFF , 169px 261px #FFF , 1982px 1927px #FFF , 1094px 1529px #FFF , 282px 727px #FFF , 1816px 570px #FFF , 209px 322px #FFF , 361px 120px #FFF , 190px 924px #FFF , 355px 841px #FFF , 1086px 251px #FFF , 1386px 1124px #FFF , 375px 222px #FFF , 1835px 654px #FFF , 1456px 491px #FFF , 1507px 1387px #FFF , 679px 849px #FFF , 630px 365px #FFF , 1562px 1142px #FFF , 1083px 1378px #FFF , 1806px 1508px #FFF , 1796px 1902px #FFF , 1136px 848px #FFF , 1388px 1226px #FFF , 1725px 1994px #FFF , 1176px 1617px #FFF , 1858px 215px #FFF , 708px 1991px #FFF , 395px 259px #FFF , 1258px 1529px #FFF , 752px 1587px #FFF , 1710px 102px #FFF , 1718px 587px #FFF , 1869px 1662px #FFF , 680px 768px #FFF , 388px 594px #FFF , 1167px 1533px #FFF , 228px 298px #FFF , 1610px 521px #FFF , 1173px 1064px #FFF , 292px 438px #FFF , 1485px 1479px #FFF , 396px 534px #FFF , 975px 1362px #FFF , 1085px 185px #FFF , 830px 188px #FFF , 383px 958px #FFF , 1087px 1679px #FFF , 1118px 1944px #FFF , 684px 1100px #FFF , 685px 967px #FFF , 1507px 11px #FFF , 1524px 481px #FFF , 117px 1380px #FFF , 284px 192px #FFF , 1289px 1359px #FFF , 1572px 1636px #FFF , 1785px 1983px #FFF , 254px 1300px #FFF , 1111px 358px #FFF , 1224px 950px #FFF , 1904px 1528px #FFF , 1183px 1480px #FFF , 1235px 470px #FFF , 1201px 629px #FFF , 1406px 1510px #FFF , 392px 1858px #FFF , 34px 825px #FFF , 1340px 1507px #FFF , 200px 1330px #FFF , 833px 809px #FFF , 1587px 970px #FFF; }

nav.navbar-default {
  background-color: #000;
  border-color: #ffbf00; }
  nav.navbar-default .navbar-nav > .active > a {
    color: #40ff00;
    font-weight: bold;
    background-color: #000; }
  nav.navbar-default .navbar-nav > .active > a:hover {
    background-color: #000;
    color: #40ff00; }
  nav.navbar-default .navbar-nav > li > a:hover {
    color: #c0ff00;
    font-weight: bold; }

.flex-grid {
  display: flex;
  justify-content: space-between; }
  .flex-grid:not(.column-header) > div {
    padding: 5px;
    background-color: #111;
    color: #fff; }
  .flex-grid.alternate > div {
    background-color: #222; }
  .flex-grid.column-header a {
    float: right;
    font-size: 80%; }
  .flex-grid.neon {
    color: forestgreen;
    font-weight: bold; }

#loader {
  margin: 0 auto;
  background: none;
  position: relative;
  width: 200px;
  height: 200px; }
  #loader div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    border-width: 12px;
    border-style: solid;
    -webkit-animation: trippy-loader 2s ease-out infinite;
    -moz-animation: trippy-loader 2s ease-out infinite;
    -o-animation: trippy-loader 2s ease-out infinite;
    animation: trippy-loader 2s ease-out infinite; }
    #loader div:nth-of-type(1) {
      border-color: #ee5051; }
    #loader div:nth-of-type(2) {
      border-color: #5cffd6;
      -ms-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -o-animation-delay: 1s;
      animation-delay: 1s; }

#contents {
  display: none; }

#loginPanel, #registerPanel {
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  background: linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -o-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 400px; }
  #loginPanel h1, #registerPanel h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px; }
    #loginPanel h1:before, #loginPanel h1:after, #registerPanel h1:before, #registerPanel h1:after {
      content: "";
      height: 1px;
      position: absolute;
      top: 10px;
      width: 27%; }
    #loginPanel h1:after, #registerPanel h1:after {
      background: #7e7e7e;
      background: -moz-linear-gradient(left, #7e7e7e 0%, white 100%);
      background: -webkit-linear-gradient(left, #7e7e7e 0%, white 100%);
      background: -o-linear-gradient(left, #7e7e7e 0%, white 100%);
      background: linear-gradient(left, #7e7e7e 0%, white 100%);
      right: 0; }
    #loginPanel h1:before, #registerPanel h1:before {
      background: #7e7e7e;
      background: -moz-linear-gradient(right, #7e7e7e 0%, white 100%);
      background: -webkit-linear-gradient(right, #7e7e7e 0%, white 100%);
      background: -o-linear-gradient(right, #7e7e7e 0%, white 100%);
      background: linear-gradient(right, #7e7e7e 0%, white 100%);
      left: 0; }
  #loginPanel:after, #loginPanel:before, #registerPanel:after, #registerPanel:before {
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
    background: linear-gradient(top, #f8f8f8 0%, #f9f9f9 100%);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%; }
  #loginPanel:after, #registerPanel:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1; }
  #loginPanel:before, #registerPanel:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2; }
  #loginPanel form, #registerPanel form {
    margin: 0 20px;
    position: relative; }
  #loginPanel form input[type="text"],
  #loginPanel form input[type="password"], #registerPanel form input[type="text"],
  #registerPanel form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: opacity 5s ease;
    -moz-transition: opacity 5s ease;
    -ms-transition: opacity 5s ease;
    -o-transition: opacity 5s ease;
    transition: opacity 5s ease;
    background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%; }
    #loginPanel form input[type="text"]:focus,
    #loginPanel form input[type="password"]:focus, #registerPanel form input[type="text"]:focus,
    #registerPanel form input[type="password"]:focus {
      -webkit-box-shadow: inset 0 0 2px #40ff00;
      -moz-box-shadow: inset 0 0 2px #40ff00;
      -o-box-shadow: inset 0 0 2px #40ff00;
      box-shadow: inset 0 0 2px #40ff00;
      background-color: #fff;
      border: 1px solid #40ff00;
      outline: none; }
  #loginPanel form .invalid, #registerPanel form .invalid {
    position: relative; }
    #loginPanel form .invalid input[type="text"]:focus,
    #loginPanel form .invalid input[type="password"]:focus, #registerPanel form .invalid input[type="text"]:focus,
    #registerPanel form .invalid input[type="password"]:focus {
      -webkit-box-shadow: inset 0 0 2px #ed1c24;
      -moz-box-shadow: inset 0 0 2px #ed1c24;
      -o-box-shadow: inset 0 0 2px #ed1c24;
      box-shadow: inset 0 0 2px #ed1c24;
      border: 1px solid #ed1c24; }
    #loginPanel form .invalid::after, #registerPanel form .invalid::after {
      content: "\f06a";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 22px;
      position: absolute;
      right: 10px;
      color: #ed1c24;
      top: 0;
      transform: translateY(50%); }

.email-input {
  background-position: 10px 10px !important; }

.password-input {
  background-position: 10px -53px !important; }

form input[type="submit"] {
  background: #fee79a;
  background: -moz-linear-gradient(top, #fee79a 0%, #fec151 100%);
  background: -webkit-linear-gradient(top, #fee79a 0%, #fec151 100%);
  background: -o-linear-gradient(top, #fee79a 0%, #fec151 100%);
  background: linear-gradient(top, #fee79a 0%, #fec151 100%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #D69E31;
  color: #85592e;
  cursor: pointer;
  float: left;
  font: bold 15px Helvetica, Arial, sans-serif;
  height: 35px;
  margin: 20px 0 35px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 120px; }
  form input[type="submit"]:hover {
    background: #fec151;
    background: -moz-linear-gradient(top, #fec151 0%, #fee79a 100%);
    background: -webkit-linear-gradient(top, #fec151 0%, #fee79a 100%);
    background: -o-linear-gradient(top, #fec151 0%, #fee79a 100%);
    background: linear-gradient(top, #fec151 0%, #fee79a 100%); }

form div a {
  color: #004a80;
  float: right;
  font-size: 12px;
  margin: 30px 15px 0 0;
  text-decoration: underline; }
