doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    title #{title}
  body
    #stars
    #stars2
    #stars3
    .container
      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar", aria-expanded="false", aria-label="Toggle navigation")
          a.navbar-brand(href="#") Game Timer
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.nav-item.active
              a.nav-link(href="#") Home 
            li.nav-item
              a.nav-link(href="#") Features
            li.nav-item
              a.nav-link(href="#") Pricing
            li.nav-item
              a.nav-link(href="#") About
          ul.nav.navbar-nav.navbar-right
            li.nav-item
              if typeof loggedIn !== 'undefined'
                a.nav-link#logoutLink(href="#")
                  i.fa.fa-sign-out.fa-lg
                  | Logout
              else
                a.nav-link(href="#")
                  i.fa.fa-sign-in.fa-lg
                  | Login
      .main-content
        #loader
          div
          div
        #contents
          block content
    block modals
    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    //- TODO: Concat all this junk with Grunt task
    script(src="/js/thirdparty/bootbox.min.js")
    script(src="/js/thirdparty/jsbn.js")
    script(src="/js/thirdparty/jsbn2.js")
    script(src="/js/thirdparty/sjcl.js")
    script(src="/js/thirdparty/moment.min.js")
    script(src="/js/thirdparty/cognito-sdk.min.js")
    script(src="/js/thirdparty/cognito-identity-sdk.min.js")
    script(src="/js/session.js")
    block scripts