extends default.pug

block content
  .flex-grid.column-header
    .col-1-3 Name
      a(href="#", data-toggle="modal", data-target="#addNewModal")
        i.fa.fa-plus
        | Add
    .col-2-3 Time Left
  .timer-grid
    div(class='flex-grid hidden')
      .col-1-3
        span
        a.delete-subject.pull-right(href="#", data-toggle="tooltip" data-placement="right")
          i.fa.fa-close.fa-lg
      .col-2-3
        span
        a.adjust-time.pull-right(href="#", data-toggle="tooltip" data-placement="right", title="Add/subtract time")
          i.fa.fa-edit.fa-lg
        a.edit-time.pull-right(href="#", data-toggle="tooltip" data-placement="left")
          i.fa.fa-gear.fa-lg
        a.toggle-timer.pull-right(href="#", data-toggle="tooltip" data-placement="left")
          i.fa.fa-hourglass.fa-lg

block modals
  #addNewModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm(role="document")
      .modal-content
        .modal-header
          button.close(data-dismiss="modal", aria-label="close")
            span(aria-hidden="true") &times;
          h4.modal-title Add New
        .modal-body
          form(action="")
            .form-group
              label(for="nameInput") Brat's Name
              input#nameInput.form-control(type="text")
            .form-group
              label(for="timeInput") Time (In Minutes)
              input#timeInput.form-control(type="number")
        .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
          button.btn.btn-primary#saveNewBtn Save Changes
  #addRemoveTimeModal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm(role="document")
      .modal-content
        .modal-header
          button.close(data-dismiss="modal", aria-label="close")
            span(aria-hidden="true") &times;
          h4.modal-title Add/Remove Daily Time
        .modal-body
          form(action="")
            .form-group
              label(for="timeInput") Add or Subtract Minutes
              input#adjustmentInput.form-control(type="number")
            .form-group
              label(for="nameInput") Reason (optional)
              input#commentInput.form-control(type="text")
        .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
          button.btn.btn-primary#saveAdjustmentBtn Save
block scripts
  script(src="/js/main.js")