extends default.pug

block content
    section#loginPanel
        form(action="")
            h1 Please Log In
            div
                input#usernameInput.email-input(type="text" placeholder="Email" required="")
            div
                input#passwordInput.password-input(type="password" placeholder="Password" required="")
            div
                input#loginBtn(type="submit" value="Log In")
                a#forgotPwdLink(href="#") Lost your password?
                a#registerLink(href="#", data-target="#registerPanel") Register
    section#registerPanel(style={ display: 'none' })
        form(action="/register", method="POST")
            h1 Register form
            div
                input#emailRegInput.email-input(type="text" placeholder="Email" required="")
            div
                input#passwordRegInput.password-input(type="password" placeholder="Password" required="")
            div
                input#passwordConfirmInput.password-input(type="password" placeholder="Confirm Password" required="")
            div
                input#signupBtn(type="submit" value="Sign Up")
                a#backLink(href="#", data-target="#loginPanel") Back
block scripts
    script(src="/js/login.js")
        
            
