
nav.navbar-default {
    background-color: $blackground;
    border-color: $fluorescentOrange;

    .navbar-nav {
        
        & > .active > a {
            color: $fluorescentGreen;
            font-weight: bold;
            background-color: $blackground;
        }

        & > .active > a:hover {
            background-color: $blackground;
            color: $fluorescentGreen;
        }

        & > li > a:hover {
            color: $fluorescentYellow;
            font-weight: bold;
        }
    }
}

.flex-grid {
    display: flex;
    justify-content: space-between;

    &:not(.column-header) > div {
        padding: 5px;
        background-color: $darkground;
        color: $lightText;
    }

    &.alternate > div {
        background-color: $alternate;
    }

    &.column-header a {
        float: right;
        font-size: 80%;
    }

    &.neon {
        color: forestgreen;
        font-weight: bold;
    }
}

#loader {
    
    margin: 0 auto;
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        width: 0;
        height: 0;
        opacity: 0;
        border-radius: 50%;
        border-width: 12px;
        border-style: solid;
        @include showTrippyLoader();

        &:nth-of-type(1) {
            border-color: #ee5051;
        }

        &:nth-of-type(2) {
            border-color: #5cffd6;
            @include animationDelay();
        }
    }
}

#contents {
    display: none;
}
