@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    -o-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    -o-box-shadow:$top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin bi-direction-box-shadow($top, $left, $blur, $color, $top2, $left2, $blur2, $color2, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color, $top2 $left2 $blur2 $color2;
        -moz-box-shadow:inset $top $left $blur $color, $top2 $left2 $blur2 $color2;
        -o-box-shadow:inset $top $left $blur $color, $top2 $left2 $blur2 $color2;
        box-shadow:inset $top $left $blur $color, $top2 $left2 $blur2 $color2;
    } @else {
        -webkit-box-shadow: $top $left $blur $color, $top2 $left2 $blur2 $color2;
        -moz-box-shadow: $top $left $blur $color, $top2 $left2 $blur2 $color2;
        -o-box-shadow: $top $left $blur $color, $top2 $left2 $blur2 $color2;
        box-shadow: $top $left $blur $color, $top2 $left2 $blur2 $color2;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($trans...) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -moz-linear-gradient($direction, $color-stops);
  background: -webkit-linear-gradient($direction, $color-stops);
  background: -o-linear-gradient($direction, $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(neon-green) {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@mixin showNeonText() {
    @include animation(neon-green 1.5s ease-in-out infinite alternate);
}


@include keyframes(trippy-loader) {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}

@mixin showTrippyLoader() {
    @include animation(trippy-loader 2s ease-out infinite);
}

@include keyframes(animStar) {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

@mixin animationDelay($delay: 1s) {
    -ms-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -webkit-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

// shamelessly copied from Saransh Sinha on CodePen
// https://codepen.io/saransh/pen/BKJun
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
  }
  @return unquote($value)
}