
$lightOrange: #fcf1b9;
$midOrange: #febc42;

$fluorescentOrange: #ffbf00;
$fluorescentGreen: #40ff00;
$fluorescentYellow: #c0ff00;

$blackground: #000;
$darkground: #111;
$alternate: #222;

$lightText: #fff;
$invalidRed: #ed1c24;


$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);