@import "mixins";
@import "variables";
@import "base"; 
@import "interface";

#loginPanel, #registerPanel {
    @include linear-gradient(top, rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    @include box-shadow(0, 1px, 0, #fff, true);
	border: 1px solid #c4c6ca; 
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;

    h1 {
        color: #7E7E7E;
        font: bold 25px Helvetica, Arial, sans-serif;
        letter-spacing: -0.05em;
        line-height: 20px;
        margin: 10px 0 30px;
        
        &:before, &:after {
            content: "";
            height: 1px;
            position: absolute;
            top: 10px;
            width: 27%;
        }

        &:after {
            @include linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
            right: 0;
        }

        &:before {
            @include linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
            left: 0;
        }
    }

    &:after, &:before {
        @include linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
        border: 1px solid #c4c6ca;
        content: "";
        display: block;
        height: 100%;
        left: -1px;
        position: absolute;
        width: 100%;
    }

    &:after {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
        top: 0;
        z-index: -1;
    }

    &:before {
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
        top: 0;
        z-index: -2;
    }

    form { margin: 0 20px; position: relative; }
    form input[type="text"],
    form input[type="password"] {
        @include border-radius(3px);
        @include bi-direction-box-shadow(0, 1px, 0, #fff, 0, -2px, 5px, rgba(0,0,0,0.08), true);
        @include transition(opacity 5s ease);
        
        background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
        border: 1px solid #c8c8c8;
        color: #777;
        font: 13px Helvetica, Arial, sans-serif;
        margin: 0 0 10px;
        padding: 15px 10px 15px 40px;
        width: 80%;
    
        &:focus {
            @include box-shadow(0, 0, 2px, $fluorescentGreen, true);
            background-color: #fff;
            border: 1px solid $fluorescentGreen;
            outline: none;
        }
    }

    form .invalid {
        position: relative;

        input[type="text"]:focus,
        input[type="password"]:focus {
            @include box-shadow(0, 0, 2px, $invalidRed, true);
            border: 1px solid $invalidRed;
        }

        &::after {
            content: "\f06a";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 22px;
            position: absolute;
            right: 10px;
            color: $invalidRed;
            top: 0;
            transform: translateY(50%);
        }
    }
}

.email-input { background-position: 10px 10px !important }
.password-input { background-position: 10px -53px !important }
form input[type="submit"] {
    @include linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
    @include border-radius(30px);
    @include box-shadow(0, 1px, 0, rgba(255,255,255,0.8), true);
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;

    &:hover {
        @include linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
    }
}

form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}

