div(class='flex-grid' + isAlternate, data-name=val.name)
    .col-1-3
        span= val.name
        a.delete-subject.pull-right(href="#", data-toggle="tooltip" data-placement="right", title="Delete " + val.name)
        i.fa.fa-close.fa-lg
    .col-2-3
        span= val.defaultTime
        a.pull-right(href="#", data-toggle="tooltip" data-placement="right", title="Add/subtract time")
        i.fa.fa-edit.fa-lg
        a.edit-time.pull-right(href="#", data-toggle="tooltip" data-placement="left", title="Edit " + val.name)
        i.fa.fa-gear.fa-lg
        a.pull-right(href="#", data-toggle="tooltip" data-placement="left", title="Start " + val.name + "'s timer")
        i.fa.fa-hourglass.fa-lg